{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Dream</title>
  </head>
  <body>
    <h3>Add An Action Item</h3>

{% comment %} The form action step below takes you to the url for this form--what happens when this form is submitted {% endcomment %}
{% comment %} The method is sent with it--Post {% endcomment %}

    <form action="{% url 'teamdreamapp:actionitemaddaction' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="actiondescription">Action Description: </label>
          <select id="actiondescription" type="text" name="actiondescription">
                {% for itemtype in all_itemtypes %}
                    <option value="{{ itemtype.id }}">{{ itemtype.action_desc }}</option>
                {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date">
      </fieldset>
      <fieldset>
          <label for="finish_date">Finish Date: </label>
          <input id="finish_date" type="date" name="finish_date">
      </fieldset>
      <fieldset>
          <label for="personal_benefit">Personal Benefit: </label>
          <input id="personal_benefit" type="text" name="personal_benefit">
      </fieldset>
      <fieldset>
          <label for="team_benefit">Team Benefit: </label>
          <input id="team_benefit" type="text" name="team_benefit">
      </fieldset>
      <fieldset>
          <label for="sprintdescription">Action Description: </label>
          <select id="sprintdescription" type="text" name="sprintdescription">
                {% for sprint in all_sprints %}
                    <option value="{{ sprint.id }}">{{ sprint.sprint_name }}</option>
                {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="presprintreview">Pre-Sprint Review: </label>
          <input id="presprintreview" type="checkbox" name="presprintreview" value=True>
      </fieldset>
      <input type="submit" value="Add Action Item" />
    </form>
  </body>
</html>