{% extends 'shared/base.html' %}

{% block content %}
    <div class="widthclass">
            <h3>Action Item Detail</h3>
            <br>
            <div class="card cardclass" style="width: 60rem; background-color:lightyellow">
                <div class="widthclass">
                    <h3>Type of Action: {{ actionitemplus.action_desc }}</h3>
                    <h3>Description: {{ actionitemplus.description }}</h3>
                    <h3>From Which Sprint: {{ actionitemplus.sprint_name }}</h3>
                    <br>
                    <h4>Start Date: {{ actionitemplus.start_date }}</h4>
                    <h4>Finish Date: {{ actionitemplus.finish_date }}</h4>
                    <div>Personal Benefit: {{ actionitemplus.personal_benefit }}</div>
                    <div>Team Benefit: {{ actionitemplus.team_benefit }}</div>
                    <div>Pre-Sprint Review: {{ presprint_value }}</div>
                    <br>
                    <div style="display: flex">
                        <form action="{% url 'teamdreamapp:actionitem' actionitemplus.a2 whichlist %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="actual_method" value="DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <form class="ml-3" action="{% url 'teamdreamapp:actionitem_edit_form' actionitemplus.a2 whichlist %}" method="GET">
                            {% csrf_token %}
                            <button class="btn btn-primary">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}