{% extends 'shared/base.html' %}

{% block content %}

    {% if whichlist == "all" %}
        <h2>All Action Items</h2>
    {% else %}
        {% if whichlist == "completed" %}
          <h2>Completed Action Items</h2>
        {% else %}
          <h2>Pre-Sprint Review Items</h2>
        {% endif %}
    {% endif %}

    <a href="{% url 'teamdreamapp:actionitemaddform' %}">Add An Action Item</a>

    <ol>
    {% for actionitem in all_actions %}
        <li>
            <a href="{% url 'teamdreamapp:actionitem' actionitem.id whichlist %}">{{ actionitem.description }}</a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}