{% extends 'shared/base.html' %}

{% block content %}
    <h1>Home</h1>
    <h2>Instructions</h2>

    <h2>Important Steps to Create Your FIRST Action Item FOR a Specific Sprint:</h2>

    <h3>NOTE:  Please follow the steps below in order:  </h3>
    <ol>
    <li>Click on Sprint on the Menu Above and Add a Sprint</li>
    <li>Click on Types of Actions on the Menu Above and Add a Type of Action (Examples:  Start, Stop, Continue, etc)</li>
    <li>Click on Action Items on the Menu Above and Add an Action Item</li>
    </ol>

{% endblock %}