{% extends 'shared/base.html' %}

{% block content %}
    <br>
    <h3 class="subhead1">To Create Your FIRST Action Item FOR a Specific Sprint:</h3>

    <h5>[NOTE--Please follow the steps below in order]</h5>
    <br>
    <ol>
    <li>Click on 'Sprints' on the Menu Above and Add a Sprint</li>
    <br>
    <li>Click on 'Types of Actions' on the Menu Above and Add a Type of Action (Example choices:  Start, Stop, Continue, etc)</li>
    <br>
    <li>Click on 'All Action Items' on the Menu Above and then choose 'Add an Action Item'</li>
    </ol>

{% endblock %}